html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-direction: none;
}
header {
  display: flex;
  background-color: #f3f3f3;
  height: 22px;
  padding: 15px 20px;
}
header div {
  flex: 2;
}
header nav {
  flex: 1;
  word-wrap: unset
  
}
section.box3 {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid fuchsia;
  justify-content: center;
}
ul.octocat {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}
ul.box2 {
  display: flex;
  flex: 1;
  margin-top: -20px;
  justify-content: right;
  align-items: baseline;
  flex-wrap: nowrap;
}
li {
  list-style: none;
  padding: 0.5rem;
  margin: 1rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.box2 li {
  border: none;
  margin: none;
  line-height: 1.4em;
  font: 13px helvetica;
  color: black;
  font-weight: bold;
  list-style: none;
}
.octocat li {
  width: 424px;
  height: 424px;
  padding: 10px;
}
footer {
  display: flex;
}
nav.box4 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  section.box3 {
    background-color: red;
    padding: none;
    margin: none;
  }
  ul.octocat{
    margin: none ;
    padding: none;
    display: flex;
    justify-content: center;
  }
  header {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  div.box1 {
    display: flex;
    flex:1;
    justify-content: center;
    margin-bottom: 20px;
  }
  nav.box2 {
    //display: inline-flex;
    justify-content: space-evenly;
    padding-top: 0.75rem;
  }
  .box2 ul{
  padding: none;
  margin: none;
  
  }
  .octocat li {
    max-width: 100%;
    width: 100%;
    height auto;
    margin; none  
  }
}
